span{
    padding: 0;
    margin: 0;
}

/* .ss{ */
/*     border: 1px solid black; */
/* } */
.textBoxcheck{
    width: 450px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 1vh;
}

.textBoxcheck ::-webkit-input-placeholder{
    outline: none;
}


.checkInCon input[type="text"]{
    width: 100%;
    background-color: inherit;
    margin-left: 10px;
}

.textBoxCh{
    width: 270px;
    margin: auto;
    position: relative;
}

.chColor1{
    color: black;
    font-weight: 600;
}


.chColor2{
    color: rgb(99, 114, 131);
    font-weight: 400;
}
.chcommand{
    display: flex;
}
.techeck{
    position: absolute;
    left: 35px;
    font-size: 11px;
    z-index: 999;
    font-family: 300;
    color: white;
    top: 4px;
}
.roundBox{
    border: 0.3px solid white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 31px;
    top: 2px;
    z-index: 1;
    background-color: rgb(0, 175, 94);

}
.apply_img1{
    border-radius:50px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.apply_img1 img {
    border-radius:50px;
    object-fit: cover;
    width: 36px;
    height: 36px;
}
.commendCh{
    margin-top: 4px;
    cursor: default;
    text-align: left;
    font-size: 14px;
    color:  rgb(31, 46, 61);
}
.comSub{
    color: rgb(99, 114, 131);
    font-weight: 400;
    font-size: 12px;
}
.commendf{
    font-size: 14px;
    color: rgb(99, 114, 131);
    font-weight: 400;
}



.fdTRgX {
    width: 100%;
    height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 24px;
}
.fr-view{
    color: rgb(99, 114, 131);
    line-height: 1.7;
    font-size: 15px;
    margin-top: 15px;
}

.frview_box{
    height: 404px;
    width: 720px;
}